.link-pedazo-cosmos {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.link-pedazo-cosmos::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #576fb0f0;
  transition: width 0.3s ease;
}

.link-pedazo-cosmos:hover {
  color: #9cccea;
}

.link-pedazo-cosmos:hover::after {
  width: 100%;
}